<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espèces menacées</title>
    <link rel="stylesheet" href="/endangered.css" />
</head>
<body>
    <div class="container">
        <div class="button-container">
            <button onclick="window.location.href='/'">Choisir un autre pays</button>
        </div>
        <h1>Espèces menacées</h1>
        <% assessments.forEach(assessment => { %>
            <div class="assessment">
                <h3> <a href="<%= assessment.url %>"> <%= assessment.scientific_name %> </a></h3>
                <div class="info-item"><strong>Nom commun (anglais):</strong> <%= assessment.common_name_english %></div>
                <div class="info-item"><strong>Nom commun (français):</strong> <%= assessment.common_name_french %></div>
                <div class="info-item"><strong>Année de publication:</strong> <%= assessment.year_published %></div>
                <div class="info-item"><strong>Possiblement éteint:</strong> <%= assessment.possibly_extinct %></div>
                <div class="info-item"><strong>Possiblement éteint à l'état sauvage:</strong> <%= assessment.possibly_extinct_in_the_wild %></div>
            </div>
        <% }); %>
    </div>
    <script>
        // Store data in local storage
        const country = "<%= country %>";
        const assessments = <%- JSON.stringify(assessments) %>;
        localStorage.setItem(`endangered_${country}`, JSON.stringify(assessments));

        // Log assessments to the console
        console.log(assessments);
    </script>
</body>
</html>